*{
	margin: 0;
	padding:0;
	font-family: Gill Sans, sans-serif;
	box-sizing:border-box;
}

body {
	background: rgb(69,29,102);
	background: linear-gradient(90deg, rgba(69,29,102,1)
				0%, rgba(60,24,84,1) 9%, rgba(38,17,60,1) 17%, rgba(38,17,60,1)
				36%, rgba(38,17,60,1) 74%, rgba(38,17,60,1)
				88%, rgba(60,24,84,1) 100%);
	background-size: cover; 
	overflow-x:hidden;
}
.zdje{
	padding-top: 40px;
	height:120%;
	width:auto;
}
.bil{
	padding: 30px;
	line-height:25px;
	max-width:1200px;
	margin: 0 auto 0 auto;
	background: rgba(38,17,60,1);
	background-size:cover;
	height:800px;
    max-height:100%;
	color: white;
}

.naekranie{
	margin-left:auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
	padding: 0;
	margin-bottom:25px;
	position:relative;
	max-height:100%;
	overflow:hidden;
}
naekranie1{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 0;
	margin-bottom:25px;
	position:relative;
	max-height:100vh;
	overflow:hidden;
}
.kontener{
	margin: 0 auto;
	margin-top:20px;
	position:relative;
	width: 50%;
	height: 0;
	padding-bottom: 28%;
	border: solid 2px purple;
	overflow:hidden;
	margin-bottom:30px;
	border-radius:10px;
}
.kontener1{
	margin: 0 auto;
	margin-top:20px;
	position:relative;
	width: 100%;
	height: 0;
	padding-bottom: 60%;
	border: solid 2px purple;
	overflow:hidden;
	border-radius:10px;
	
}
#header{	
	font-family: Roboto;
	height: 200px;
	width: 100vw;
	background: url("kosmos.jpg") center;
	background-size: cover;
	color: blue;
	flex-direction:column;	
	display: flex;
	align-items: center;
	justify-content: center;
}
#wrapper {
	max-width:1200px;
	margin: 0 auto 0 auto;
	background: gray;
	padding-bottom:20px;
	overflow:hidden;
	height:100%;
}
nav {
	background-color:rgba(38,17,60,1);
	border: 2px solid purple;
}
.menu {
	width: 100vw;	
}
a.menu {
	display: inline-block;
	width:25%;
	padding: 15px 30px;
	color: white;
	text-decoration: none;
	text-align: center;
	border-left: 1px solid purple
}
a.menu:hover {
	background-color: darkcyan;
}
.active {
	background-color:darkcyan;
}

#pierwszyh1 {
	font-size: 40px;
	margin-bottom: 20px;
	text-align:center;
}

#main{
	padding: 30px;
	line-height:25px;
	max-width:1200px;
	margin: 0 auto 0 auto;
	background: #27113e;
	background-size:cover;
	color:white;	
}
.tekst {
	margin-left:40%; margin-top:10px;
}
.tekst2{margin-bottom:20px;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	clear: both;
}

.tekst3{
	margin-left:20%; margin-right:10%; margin-top:10px;
}

#footer{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 35px;
	width: 100%;
	bottom: 0;
	background-color: #0e0e16;
	color:white;
	text-align:center;
	z-index:10;
}
#cennik{
	font-size:30px;
	text-align: center;
	margin: 0 10% 20px;
	padding-bottom:5px;
	border-bottom: 2px solid purple;	
}
#wynik{
	margin-bottom:10px;
	margin-top:10px;
}
#autor{
	text-decoration: underline;
}

.zegarek {
	text-decoration: none;
}
#obrazki {
	float:left;
	margin-right: 10px;
}
.zdjęcie {
	border-radius: 10px;
}
.slide_img{
	position: absolute;
	width:100%;
	height: 100%;
}
.slide_img img{
	width:100%;
	height: 100%;
}
#i1, #i2, #i3{ display: none;}
.pre, .nxt{
	width: 12%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(88,88,88,.4);
	z-index:99;
	cursor: pointer;
}
.pre{
	left: 0;
}
.nxt{
	right: 0;
}
.nav1{
	width:100%;
	height:11px;
	bottom:12%;
	position:absolute;
	text-align: center;
	z-index:99;
}
.dots{
	top: -5px;
	width:18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	background: purple;
}
.slide_img{
	z-index:-1;
}
#i1:checked ~#one,
#i2:checked ~#two,
#i3:checked ~#three{ z-index:9;}

#i1:checked ~.nav1 #dot1,
#i2:checked ~.nav1 #dot2,
#i3:checked ~.nav1 #dot3{
	background: #fff;
}
.zdj{
	width:250px;
	height:400px;
	margin-left:5px;
	cursor: pointer;
	border-radius:10px;
}

.tekstnews{
	text-align:center;
	margin-bottom:40px;
}

#news{	
	width:70%;
	margin-left:20%;
	margin-top: 10px;
	
}
.kon{
	float:left;
	height:100%;
	text-align: center;
	
}
.kon1{
	height:100%;	
	float: left;
}


a.linka:visited {
  color: cyan;
}

a.linka:hover {
  color: lightgreen;
}

a.linka:active {
  color: hotpink;
}

.overlay{
	position: relative;
	width: 250px;
	height:400px;
	
}
.overlay .linkacz{
	text-decoration: none;
	margin-left:5px;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color:#111;
	left: 0px;
	bottom: 0px;
	opacity: 0;
	border-radius:10px;
	transition: opacity 0.2s ease-in-out;
}
.overlay:hover .linkacz
{
	opacity: 0.8;
}
.photo1{
margin-left:5px;
}
.przycisk {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 18px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
}